.list-rec a{
    text-decoration: none;
    color: #1f1f1f;
    font-size: 1.5vw;
}

.list-rec li{
    list-style: none;
    padding: 5px;
    margin-top: 5px;

    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.534);
}

.list-rec li:nth-child(odd){
    background-color: #f24405ab;
}

.list-rec li:nth-child(even){
    background-color: #f24405ec;
}

.list-rec li:nth-child(even) a{
    color: #fefefe;
}

.list-rec li a:hover{
    font-weight: 500;
}

@media (width <= 1200px) {
    .list-rec a{
        font-size: 2.5vw;
    }
}

@media (width <= 768px) {
    .list-rec a{
        font-size: 3vw;
    }
}

@media (width <= 576px) {
    .list-rec a{
        font-size: 4vw;
    }
}
