@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html, body{
  height: 100%;
  width: 100%;
}

* a{
  text-decoration: none;
  color: #c9d88e;
  flex: 1;
}

body{
  background-color: #ece7b3 ;
  font-family: "Montserrat", sans-serif;
}